<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="/static/style.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Product deatils</title>
  </head>
  <body>
    {{> nav}}
   <section class="dark">
	<div class="container py-4">
		<h1 class="h1 text-center" id="pageHeaderTitle"style="color:white;">Product Details</h1>
     {{# each contents }}
<article class="postcard dark blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="/static/{{this.image}}" alt="{{this._id}}"/>
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue">PN-{{this.pname}}</h1>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">{{this.description}}</div>
				<ul class="postcard__tagbox">
					<li class="tag__item">PRICE-{{this.price}}</li>
					<li class="tag__item">Quantity-{{this.quantity}}</li>
				<form action="/update/{{this._id}}?con=contents" method="put">
                        <li class="list-group-item" style="background-color:rgb(23, 26, 39);"><input type="submit" class="btn btn-success" value="Edit"/></li>
         </form>
         <form action="deleteproduct/{{this._id}}" method="DELETE">
         <li class="list-group-item"  style="background-color:rgb(23, 24, 36);"><input type="submit" class="btn btn-success" value="Delete"/></li>
                            </form>
				</ul>
                <div class="card-body">
                    <button class="btn btn-success">Buy Now</button>
                   </div>
			</div>
		</article>
     {{/each}}
     </div>
   </section>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    
  </body>
</html>