<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Product deatils</title>
  </head>
  <body>
    <%- include('./partial/header.ejs');%>
    <h1 align="center">Product Detials</h1>
    <div align="center">
      <% contents.forEach(function(content){%>
  <div class="card" style="width: 30%;">
  <img src="/static/<%=content.image %>" class="card-img-top" alt="<%=content._id%>"  width="100px" height="100px">
  <div class="card-body">
    <h5 class="card-title">Name Product-<%=content.pname%></h5>
    <p class="card-text">Description-<%=content.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price-<%=content.price %></li>
    <li class="list-group-item">Quantity-<%=content.quantity %></li>
    <form action="/update/<%=content._id%>" method="put">
      <!-- <input type="hidden" id="postid" name="postid" value="<%=content%>" /> -->
 <li class="list-group-item"><input type="submit" class="btn btn-success" value="Edit"/></li>
    </form>
    <form action="deleteproduct/<%=content._id%>" method="DELETE">
<li class="list-group-item"><input type="submit" class="btn btn-success" value="Delete"/></li>
    </form>
  </ul>
  <div class="card-body">
   <button class="btn btn-success">Buy Now</button>
  </div>
  </div>
<%});%>
     </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <%- include('./partial/footer.ejs'); %>
  </body>
</html>